﻿@{
    Page.title = "Confirm Account";
    Layout = "~/shared/layouts/_layout.cshtml";

    var accountConfirmed = false;
    var confirmationToken = Request["confirmationToken"];
    WebSecurity.Logout();
    if(!confirmationToken.IsEmpty())
    {
        if(WebSecurity.ConfirmAccount(confirmationToken))
        {
            accountConfirmed = true;
        }
    }
}

<h1>Account confirmation</h1>
@if(accountConfirmed)
{
    <p>
        Your registration is now confirmed: @WebSecurity.CurrentUserName <br />
        You may now <a href="~/login">login</a> to your account using your email address and password.
    </p>
}
else
{
    <p>
        Unable to confirm this registration. Please try again, or contact and administrator if the issue persists.
    </p>
}
