﻿@{
    Page.title = "Recover Password";
    Layout = "~/shared/layouts/_layout.cshtml";

    var email = "";
    var tokengenerated = false;
    
    if(IsPost)
    {
        Validation.Add("email", Validator.Required("You must supply an email address."));
        if(Validation.IsValid())
        {
            email = Request.Form["email"];
            if(WebSecurity.UserExists(email))
            {
                var resetPasswordToken = WebSecurity.GeneratePasswordResetToken(userName:email,
                    tokenExpirationInMinutesFromNow:60);
                tokengenerated = true;
                var hostURL = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
                var resetPasswordURL = hostURL + "/resetpassword?token=" + HttpUtility.UrlEncode(resetPasswordToken);
                
                // send email with URL to confirm account
                string emailbody = "Please visit " + resetPasswordURL + " to reset your password.";
                WebMail.Send(to:email, subject:"Reset your Netflops password", body:emailbody);
            }
            else{
                ModelState.AddFormError("No such user found.");
            }
        }
    }//end if(isPost)
}

@if(IsPost && tokengenerated)
{
    <br />
    <p>A password reset token was sent to your email address. (Don't forget to check your spam.)</p>
}
else{
    <h1>Reset your password</h1>
    <br />
    if(!Validation.IsValid())
    {
        @Html.ValidationSummary("Errors encountered:")
    }
    
    <form action="forgotpassword.cshtml" method="post">
        <fieldset>
            <legend>Password Reset Form</legend>
            Email: <input type="email" class="forminput" id="email" name="email"/> <br />
            <input type="submit" class="formsubmit">
        </fieldset>
    </form>
}

