﻿@{
    if(WebSecurity.IsAuthenticated)
    {
        if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "admin"))
        {
            Response.Redirect("~/admin/index3.cshtml");
        }
        else { Response.Redirect("~/user/index2.cshtml"); }    
    }
    
    Layout = "~/shared/layouts/_layout.cshtml";
    Page.title = "Home";
    string dbname = App.DBname;
    Database db = Database.Open(dbname);


    var getTopMovies = "SELECT TOP (25) movieID AS id,  SUM(stars)/COUNT(*) AS Average FROM Ratings GROUP BY movieID ORDER BY Average DESC";
    var getTopMoviesQ = db.Query(getTopMovies);
    var top25Movies = "";
    foreach (var tuple in getTopMoviesQ)
    {
        var movID = tuple["id"];
        if (top25Movies == ""){top25Movies = top25Movies + movID;}
        else{top25Movies = top25Movies + ", " + movID;}
    }
    var selectLatestMovies = "SELECT TOP (3) id, title FROM Movies ORDER BY id DESC";
    var selectMostPopularMovies = "SELECT TOP (3) id, title FROM Movies WHERE id IN ("+top25Movies+")ORDER BY NEWID()";
    var latestMovies = db.Query(selectLatestMovies);
    var mostPopularMovies = db.Query(selectMostPopularMovies);
     
}


<h1>Home</h1>

<h2 id="recently_added">Recently Added</h2>
<table class="movietable2">
    <tr>
        @foreach (var tuple in latestMovies)
        {
            var movieID = tuple["id"];
            var src = "/ressources/movie_posters/movie_" + movieID + ".jpg";
            <td><a href="~/moviedetails?id=@movieID"> <img src="@src" /> </a></td>
        }      
    </tr>
    <tr>
        @foreach(var tuple in latestMovies)
        {
            var title = tuple["title"];
            var movieID = tuple["id"];
            var ratingQuery = db.QuerySingle("SELECT average_rating AS Average FROM Movie_Stats WHERE movieID = @0", movieID);
            if (ratingQuery==null)
            {
                ratingQuery = db.QuerySingle("SELECT SUM(stars)/COUNT(*) AS Average FROM Ratings WHERE movieID = @0",movieID);
            }
            if (ratingQuery["Average"]!=null)
            {
                double rating = ratingQuery["Average"];
                rating = Math.Round(rating,2);
                var cnt =0;
                double checkhalf = 0;
                <td><b>@title</b><br />
                    @while(cnt<rating-1)
                    {
                        <img src="~/ressources/pics/star.png" />
                        cnt=cnt+1;
                    }
                    @{checkhalf = rating - cnt;}
                    @if(checkhalf>0.24)
                    {
                        if(checkhalf>=0.75){<img src="~/ressources/pics/star.png" />}
                        else{<img src="~/ressources/pics/star_half.png" />}
                    }
                </td>
                
            }
            else
            {
                <td><b>@title</b><br />No Ratings Yet</td>
            }
            }
    </tr>
    
</table>

<h2>Most Popular</h2>

<table class="movietable2">
    <tr>
        @foreach (var tuple in mostPopularMovies)
        {
            var movieID = tuple["id"];
            var src = "/ressources/movie_posters/movie_" + movieID + ".jpg";
            <td><a href="~/moviedetails?id=@movieID"> <img src="@src" /> </a></td>
        }      
    </tr>
    <tr>
        @foreach(var tuple in mostPopularMovies)
        {
            var title = tuple["title"];
            var movieID = tuple["id"];
            var ratingQuery = db.QuerySingle("SELECT average_rating AS Average FROM Movie_Stats WHERE movieID = @0", movieID);
            if (ratingQuery==null)
            {
                ratingQuery = db.QuerySingle("SELECT SUM(stars)/COUNT(*) AS Average FROM Ratings WHERE movieID = @0",movieID);
            }
            if (ratingQuery["Average"]!=null)
            {
                double rating = ratingQuery["Average"];
                rating = Math.Round(rating,2);
                var cnt =0;
                double checkhalf = 0;
                <td><b>@title</b><br />
                    @while(cnt<rating-1)
                    {
                        <img src="~/ressources/pics/star.png" />
                        cnt=cnt+1;
                    }
                    @{checkhalf = rating - cnt;}
                    @if(checkhalf>0.24)
                    {
                        if(checkhalf>=0.75){<img src="~/ressources/pics/star.png" />}
                        else{<img src="~/ressources/pics/star_half.png" />}
                    }
                </td>
                
            }
            else
            {
                <td><b>@title</b><br />No Ratings Yet</td>
            }
            }
    </tr>
    
</table>