﻿@{
    Page.title = "Login";

    WebSecurity.Logout();
    Layout = "~/shared/layouts/_layout.cshtml";

    var email = "";
    var password = "";

    if (IsPost)
    {
        //validation
        email = Request.Form["email"];
        password = Request.Form["password"];

        Validation.RequireField("email", "Email field cannot be empty.");
        Validation.RequireField("password", "Password field cannot be empty.");

        if (Validation.IsValid())
        {
            if (WebSecurity.Login(email, password))
            {
                if (Roles.IsUserInRole(email,"admin"))
                {
                    Response.Redirect("~/admin/index3.cshtml");
                }
                else {
                    Session["ratingsCounter"] = 0;
                    Response.Redirect("~/user/index2.cshtml");
                }
            }
            else
            {
                ModelState.AddError("failedLogin", "Login Failed. No such combination of email address and password.");
            }
        }
    }
}

<h1>Login to your account</h1>

@if (IsPost && !ModelState.IsValid)
{
    @Html.ValidationSummary("Login unsuccessful. Fix errors and try again.");
}
<form action="~/login.cshtml" method="post">
    <fieldset>
        <legend>Login</legend>
        <table>
            <tr>
                <td class="formlabel">Email: </td>
                <td class="forminput">
                    <input type="email" id="email" name="email" /></td>
            </tr>
            <tr>
                <td class="formlabel">Password: </td>
                <td class="forminput">
                    <input type="password" id="password" name="password" /></td>
            </tr>
            <tr>
                <td></td>
                <td class="formsbmit">
                    <input type="submit" value="Login"></td>
            </tr>
        </table>
        Forgot your password? <a href="~/forgotpassword.cshtml">Recover it</a>.
    </fieldset>
</form>
