﻿@{
    Page.title = "Logout";
    Layout = "~/shared/layouts/_layout.cshtml";
    var userID = WebSecurity.CurrentUserId;
        string dbname = App.DBname;
        Database db = Database.Open(dbname);
        var susNum  = db.QueryValue("SELECT suspected_spammer FROM Warnings WHERE userID=@0",userID);
    if(WebSecurity.IsAuthenticated)
    {
        
       
        WebSecurity.Logout();
        if(susNum==2)
        {
            var deleteWarning = db.Execute("DELETE FROM Warnings WHERE userID =@0", userID);
            var deleteFriend = db.Execute("DELETE FROM Friends WHERE userID1=@0",userID);
            var deleteFriend2 = db.Execute("DELETE FROM Friends WHERE userID2=@0",userID);
            var deleteRecommendation = db.Execute("DELETE FROM Recommendations WHERE userID1=@0 OR userID2=@0",userID);
            var deleteRating = db.Execute("DELETE FROM Ratings WHERE userID=@0",userID);
            var GOODBYE = db.Execute("DELETE FROM UserProfile WHERE userID =@0",userID);

        }

    }
}

<h1>Logout</h1>


<p>
    @if(susNum == 2)
    {
        <h3 style="color: #f00">You're account has been permanently deleted. We're not sorry.</h3>
    }
    You are successfully logged out. <br />
    Go back to the <a href="~/">home page</a>.
</p>


