﻿@{
    Page.Title = "Movie Details";
    Layout = "~/shared/layouts/_layout.cshtml";

    string dbname = App.DBname;
    Database db = Database.Open(dbname);
    bool movieExists = false;

    var movieID = Request["id"];
    var title = "";
    var year = "";
    var director = "";
    var studio = "";
    var genre1 = "";
    var genre2 = "";
    var genre3 = "";
    var leading_actor1 = "";
    var leading_actor2 = "";
    var leading_actor3 = "";
    var synopsis = "";
    var trailer_url = "";
    var cover_url = "";
    var length = "";

    dynamic basicMovieInfo = null;
    dynamic extendedMovieInfo = null;

    var selectComments = "SELECT text,commentID,userID FROM Comments WHERE movieID ="+movieID +" ORDER BY commentID DESC";
    var comments = db.Query(selectComments);

    
    //check if movie exists
    if (movieID != null)
    {
        //get current movie info from db       
        basicMovieInfo = db.QuerySingle("SELECT * FROM Movies WHERE id = @0", movieID);
        extendedMovieInfo = db.QuerySingle("SELECT * FROM Movie_Static_Info WHERE movieID = @0", movieID);
        if (basicMovieInfo != null && extendedMovieInfo != null)
        {
            movieExists = true;
        }
        else
        {
            Validation.AddFormError("No movie with ID " + movieID + " was found.");
        }  
    }
    else {
        Validation.AddFormError("No movie ID was received."); 
    }

}

<h1>Movie Details</h1>

@if (!Validation.IsValid())
{
    <text>
        @Html.ValidationSummary("Errors Found!")
        <p>Return to <a href="~/index">Home</a></p>
    </text>
}

@if(movieExists)
{
    title = basicMovieInfo["title"];
    year = (basicMovieInfo["year"]).ToString();
    director = extendedMovieInfo["director"];
    studio = extendedMovieInfo["studio"];
    genre1 = extendedMovieInfo["genre1"];
    genre2 = extendedMovieInfo["genre2"];
    genre3 = extendedMovieInfo["genre3"];
    leading_actor1 = extendedMovieInfo["leading_actor1"];
    leading_actor2 = extendedMovieInfo["leading_actor2"];
    leading_actor3 = extendedMovieInfo["leading_actor3"];
    synopsis = extendedMovieInfo["synopsis"];
    trailer_url = extendedMovieInfo["trailer_url"];
    cover_url = extendedMovieInfo["cover"];
    length = (extendedMovieInfo["length"]).ToString();
    cover_url = "/ressources/movie_posters/movie_" + movieID + ".jpg";
    
    <div id="moviecover" class="link_style2">
        <img  src="@cover_url" /><br />
        <table><tr>
        @{
            var ratingQuery = db.QuerySingle("SELECT SUM(stars)/COUNT(*) AS Average FROM Ratings WHERE movieID = @0",movieID);
            if (ratingQuery["Average"]!=null)
            {
                double rating = ratingQuery["Average"];
                rating = Math.Round(rating,2);
                var cnt =0;
                double checkhalf = 0;
                <td><b>@title</b><br />
                    @while(cnt<rating-1)
                    {
                        <img src="~/ressources/pics/star.png" />
                        cnt=cnt+1;
                    }
                    @{checkhalf = rating - cnt;}
                    @if(checkhalf>0.24)
                    {
                        if(checkhalf>=0.75){<img src="~/ressources/pics/star.png" />}
                        else{<img src="~/ressources/pics/star_half.png" />}
                    }
                </td>
                
            }
            else
            {
                <td><b>@title</b><br />No Ratings Yet</td>
            }
                
            }
            </tr></table>
        </div>
            
        <div id="movietext">
            <table class="movietable">
                <tr> <th>Title: </th> <td>@title</td> </tr>
                <tr> <th>Year: </th> <td>@year</td> </tr>
                <tr> <th>Length: </th> <td>@length minutes</td></tr>
                <tr> <th>Director: </th> <td>@director</td></tr>
                <tr> <th>Studio: </th> <td>@studio</td></tr>
                <tr> <th>Genres: </th> <td>@genre1 @genre2 @genre3</td> </tr>
                <tr> <th>Leading Actors: </th> <td>@leading_actor1 <br />@leading_actor2 <br />@leading_actor3 <br /></td> </tr>
                <tr> <th>Synopsis: </th> <td>@synopsis</td></tr>
                <tr> <th>Trailer: </th> <td><a href="@trailer_url" target="_blank">@trailer_url</a></td></tr>
            </table>
            <div class="load_comments">
            <h1>Comments</h1>
            <table>
                
                @foreach (var tuple in comments)
                {
                    var comment = tuple["text"];
                    var commentID = tuple["commentID"];
                    var userID = tuple["userID"];
                    var user = db.QueryValue("SELECT Email FROM UserProfile WHERE userID=@0",userID);
                    <tr>
                    <td>
                            <p><u><b> @user said:</b></u>
                            <p><a style ="float: right;"class ="link_style2" href ="complaints?id=@commentID">flag this comment</a></p>                
                            <p>@comment</p>
                    </td>
                    </tr>
                }
                
            </table>
        </div>     
        </div> 
               
           
       
}