﻿@{
    Layout = "~/shared/layouts/_layout.cshtml";
    Page.title = "Registration success";
}


<h1>Registration Success!</h1>
<p>
    A confirmation token has been sent to your email address. You must confirm your account to login. <br />
    Thank you. <br /> <br />
    Netflops Registration Bot :-)
</p>
  