﻿@{
    Page.title = "Register";
    Layout = "~/shared/layouts/_layout.cshtml";
    
    var email = "";

    if(IsPost)
    {
        WebSecurity.Logout();
        email = Request.Form["email"];
        

        // Validation
        string email_regex = @"^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}" +
                @"\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\" +
                @".)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$";

        Validation.RequireField("email", "Email field cannot be empty.");
        Validation.Add("email", Validator.Regex(email_regex, "You must supply a valid email address."));

        //Create account
        if(Validation.IsValid())
        {
            if(!WebSecurity.UserExists(email))
            {
                //create a default password;
                var password = Membership.GeneratePassword(6, 0);
                // create and confirmation token
                var confirmationToken = WebSecurity.CreateUserAndAccount(email,password,null,true);
                var hostURL = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
                var confirmAccountURL = hostURL + "/confirmaccount?confirmationToken=" + HttpUtility.UrlEncode(confirmationToken);
                
                // send email with URL to confirm account
                string emailbody = "Please visit " + confirmAccountURL + " to confirm and activate your account.\n"
                    + "Your password is: " + password;
                WebMail.Send(to:email, subject:"Confirm your Netflops Account", body:emailbody);

                Response.Redirect("~/reg_success.cshtml");
            }
            else{
                ModelState.AddFormError("A user with this email address already exists.");
            } 
        }

    }//end if(IsPost)
}

<div id="registration">
    <h1>Register for a new account</h1>
    @if(IsPost){
        @Html.ValidationSummary("Registration unsuccessful. Please correct the following errors.")
    }
    <form method="post" action="register.cshtml">
        <fieldset>
            <legend>New User Registration Form</legend>
            <table>
                <tr>
                    <td class="formlabel">Email:</td>
                    <td class="forminput"><input type="email" id="email" name="email"/></td>
                </tr>
                
                <tr>
                    <td></td>
                    <td class="formsbmit"><button type="submit">Submit</button></td>
                </tr>     
            </table>
        </fieldset>
    </form>
    
</div>
