﻿@{
    Page.title = "Password Reset";
    Layout = "~/shared/layouts/_layout.cshtml";

    var passwordReset = false;
    var newpassword1 = "";
    var resetPasswordToken = Request["token"];
    string message = "Please enter a new password in the form below.";
    
    if(IsPost)
    {
        Validation.Add("newpassword1", Validator.Required("You must enter a new password"));
        Validation.Add("newpassword2", Validator.EqualsTo("newpassword1", "New passwords do not match."));
        if(Validation.IsValid())
        {
            newpassword1 = Request.Form["newpassword1"];
            if(WebSecurity.ResetPassword(resetPasswordToken, newpassword1))
            {
                message = "Your password was successfully reset.";
                passwordReset = true;
            }
            else{
                message = "Password reset failed. Contact admin if issue persists.";
            }
        }
    }//end if(IsPost)
}

<h1>Password Reset</h1>
<br />
@if (passwordReset)
{
    <p>@message</p>
}
else{
    <p>@message</p>
    if (IsPost && !Validation.IsValid())
    {
        @Html.ValidationSummary();
    }
    <form action="~/resetpassword.cshtml" method="post">
        <fieldset>
            <legend>Password Reset Form</legend>
            <table>
                <tr>
                    <td class="formlabel">New Password:</td>
                    <td class="forminput"><input type="password" name="newpassword1" /></td>
                </tr>
                <tr>
                    <td class="formlabel">Confirm Password:</td>
                    <td class="forminput"><input type="password" name="newpassword2" /></td>
                </tr>
                <tr>
                    <td><input type="hidden" name="token" value="@resetPasswordToken"/></td>
                    <td class="formsubmit"><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </fieldset>
    </form>
}

