.link_style a:link{ font-size: large; color: #22b6ee;}      /* unvisited link */
.link_style a:visited{font-size: large; color: #22b6ee;}  /* visited link */
.link_style a:hover{ font-size: x-large; color: #4cff00;}  /* mouse over link */
.link_style a:active{color: #0000FF;}  /* selected link */

.link_style2 a:link{font-size: large; color: #22b6ee;}      /* unvisited link */
.link_style2 a:visited{font-size: large; color: #22b6ee;}  /* visited link */
.link_style2 a:hover{ font-size: x-large; color: #df1818;}  /* mouse over link */
.link_style2 a:active{color: #0000FF;}  /* selected link */

.link_style3 a:link{ text-decoration:none; font-size: xx-large; color: white;}      /* unvisited link */
.link_style3 a:visited{ text-decoration:none; font-size: xx-large; color: #white;}  /* visited link */
.link_style3 a:hover{ text-decoration:none; font-size: xx-large; color: #white;}  /* mouse over link */
.link_style3 a:active{ text-decoration:none; color: #white;}  /* selected link */

body {
    background-color: #EAEEF0;
    font-family: Verdana, sans-serif;
    font-size: small;
    width: 1000px;
    margin: auto;
}

#pageheader{
    margin-bottom: 5px;
    text-align: center;
    color: white;
    background-color: #B9090B;
}

#pagecontent{
    width: inherit;
}

#pagefooter {
    padding-top: 20px;
    margin-top: 10px;
    width: inherit;  
    font-size: smaller;
    text-align: center;
    clear: both;
}

#main{
    padding-left: 5px;
    margin-left: 185px;
   
}

#categories{
    float: left;
    width: 180px;
    color: white;
    background-color: #B9090B; 
    margin-right: 5px;
    border-color: #0094ff;
    border-width: medium;
    border-style: solid;
    clear: right;
    
}

#categories h3{text-align: center;}



#userstatusbar{
    width: inherit;
    float: right;
    text-align: right;
    margin-bottom: 5px;
    padding-right: 2px;
    border-bottom: solid black thin;
}

#movietext{  
   float:left;
   width: 450;
}

.movietable{
    table-layout:auto;
    width: 450px;
    border-spacing:5px;
    float:left;
    border:
            solid 8px #B9B9B9;
            -moz-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-top-colors:    #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-left-colors:   #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-right-colors:  #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-radius: 35px 35px 35px 35px;
            padding: 5px 5px 5px 15px;
            
            solid 8px #B9B9B9;
            -webkit-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-top-colors:    #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-left-colors:   #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-right-colors:  #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-radius: 35px 35px 35px 35px;
            padding: 5px 5px 5px 15px;
}

.movietable2{
    table-layout:auto;
    width: 450px;
    border-spacing:5px;
   
}

#movietext tr{
    word-wrap:break-word;
}

#movietext th{
    text-align:left;
    vertical-align:top;
}

#moviecover{
    width: 300px;
    float: right;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;

}

#editmovieinfo{
    width: inherit;
    clear: right;
}

.validation-summary-errors{
    color: red;
}

.formlabel{
    
}

.forminput{
    
}

.formsubmit{
    text-align:right;
}



h2{
    border-bottom: 
        solid 8px #B9090B;
        -moz-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
        
        -webkit-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
}

#login_header{
    margin-left:auto; 
    margin-right:auto;
    width: 40%; 
      
}
#log table{
    
    margin-left:auto; 
    margin-right:auto;
    width: 50%;
    border:
            solid 8px #B9B9B9;
            -moz-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-top-colors:    #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-left-colors:   #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-right-colors:  #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-radius: 35px 35px 35px 35px;
            padding: 5px 5px 5px 15px;
            
            
            -webkit-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-top-colors:    #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-left-colors:   #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-right-colors:  #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-radius: 35px 35px 35px 35px;
            padding: 5px 5px 5px 15px;
}

#forgot_password{
    padding-top:1%;
    margin-left:auto; 
    margin-right:auto;
    width: 45%;   
}

#add_comments{
    vertical-align: bottom;
    float: left;
    display: inline;
}

#comment_denied{
    color: #fb0505;
    vertical-align: 20%;
    float: left;
}

.movie_comments{
    float: left;
    
}


.load_comments td
{
    width:inherit;
  
    border:
            solid 8px #B9B9B9;
            -moz-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-top-colors:    #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-left-colors:   #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-right-colors:  #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-radius: 35px 35px 35px 35px;
            padding: 5px 5px 5px 15px;
            
            
            -webkit-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-top-colors:    #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-left-colors:   #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-right-colors:  #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-radius: 35px 35px 35px 35px;
            padding: 5px 5px 5px 15px;
}

#complaint_comment
{
    width:inherit;
    
    border:
            solid 8px #B9B9B9;
            -moz-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-top-colors:    #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-left-colors:   #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-right-colors:  #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -moz-border-radius: 35px 35px 35px 35px;
            padding: 5px 5px 5px 15px;
            
            
            -webkit-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-top-colors:    #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-left-colors:   #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-right-colors:  #555 #666 #777 #888 #999 #aaa #bbb #ccc;
            -webkit-border-radius: 35px 35px 35px 35px;
            padding: 5px 5px 5px 15px;

}

#admin_options
{
    float: right;
}

