﻿@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>NetFlops - @Page.title</title>
        <link href="~/shared/css/_mainstyle.css" rel="stylesheet">
    </head>
    <body>
        
        <div id="pageheader" class="link_style3">
            <h1 id="logo"><a id="logo" href="~/">NETFLOPS</a></h1>
        </div>

        <div id="pagecontent">
            <div id="userstatusbar">
                @RenderPage("~/shared/sections/_loggedinUserBar.cshtml")
            </div>
            <div id="categories">
                @RenderPage("~/shared/sections/_categories2.cshtml")
            </div>
            <div id="main">
                @RenderBody()
            </div>
        </div>

        <div id="pagefooter">
            <p>&copy;@DateTime.Now.Year NetFlops. This page is not copyrighted. Please steal it!</p>
        </div>
    </body>
</html>
