﻿@{
    Page.title = "Password Reset";
    Layout = "~/shared/layouts/_layout2.cshtml";

    var passwordReset = false;
    var newpassword1 = "";
    string message = "You must reset your password before continuing:";
    
    if(IsPost)
    {
        var resetPasswordToken = WebSecurity.GeneratePasswordResetToken(WebSecurity.CurrentUserName, 5);
        Validation.Add("newpassword1", Validator.Required("You must enter a new password"));
        Validation.Add("newpassword2", Validator.EqualsTo("newpassword1", "New passwords do not match."));
        if(Validation.IsValid())
        {
            newpassword1 = Request.Form["newpassword1"];
            if(WebSecurity.ResetPassword(resetPasswordToken, newpassword1))
            {
                string dbname = App.DBname;
                Database db = Database.Open(dbname);
                db.Execute("UPDATE UserProfile SET passwordReset = 1 WHERE UserID = @0", WebSecurity.CurrentUserId);
                
                message = "Your password was successfully reset.";
                passwordReset = true;
            }
            else{
                message = "Password reset failed. Contact admin if issue persists.";
            }
        }
    }//end if(IsPost)
}

<h1>Password Reset</h1>
<br />
@if (passwordReset)
{
    <p>@message</p>
    <a href="~/">Proceed to edit profile</a><br />
    
}
else{
    <p>@message</p>
    if (IsPost && !Validation.IsValid())
    {
        @Html.ValidationSummary();
    }
    <form action="resetpassword2.cshtml" method="post">
        <fieldset>
            <legend>Password Reset Form</legend>
            <table>
                <tr>
                    <td class="formlabel">New Password:</td>
                    <td class="forminput"><input type="password" name="newpassword1" required /></td>
                </tr>
                <tr>
                    <td class="formlabel">Confirm Password:</td>
                    <td class="forminput"><input type="password" name="newpassword2" required /></td>
                </tr>
                <tr>
                    <td class="formsubmit" colspan="2"><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </fieldset>
    </form>
}

