﻿@{
    Page.title = "Change Password";
    Layout = "~/shared/layouts/_layout3.cshtml";

    var currentpassword = "";
    var newpassword = "";
    var passwordchanged = false;
    

    if(IsPost)
    {
        Validation.RequireField("currentpassword", "You must enter your current password.");
        Validation.RequireField("newpassword1", "Your new password cannot be empty.");  
        Validation.Add("newpassword2", Validator.EqualsTo("newpassword1", "New passwords do not match."));

        if(Validation.IsValid())
        {
            currentpassword = Request.Form["currentpassword"];
            newpassword = Request.Form["newpassword1"];
            if(WebSecurity.ChangePassword(WebSecurity.CurrentUserName, currentpassword, newpassword))
            {
                passwordchanged = true;
            }
            else{
                ModelState.AddFormError("You must enter the correct current password.");
            }
        }
    }

}

<h1>Change Your Password</h1>

@if(passwordchanged)
{
    <p>
        You have successfully changed your password. <br />
        Go back to the <a href="~/">home page</a>.
    </p>
}
else{
    if(IsPost && !Validation.IsValid())
    {
        @Html.ValidationSummary("Change unsuccessful. Please corrent the following errors.")
    }
    <form action="~/admin/changepassword.cshtml" method="post">
    <fieldset>
        <legend>Password update form</legend>
        <table>
            <tr>
                <td class="formlabel">Current password:</td>
                <td class="forminput"><input type="password" name="currentpassword"/></td>
            </tr>
            <tr>
                <td class="formlabel">New password:</td>
                <td class="forminput"><input type="password" name="newpassword1"/></td>
            </tr>
            <tr>
                <td class="formlabel">Confirm new password:</td>
                <td class="forminput"><input type="password" name="newpassword2"/></td>
            </tr>
            <tr>
                <td></td>
                <td class="formsubmit"><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </fieldset>
</form>
}




