﻿@{
    Page.Title = "Delete Movie";
    Layout = "~/shared/layouts/_layout3.cshtml";

    string dbname = App.DBname;
    string movieTitle = null;
    bool movieExists = false;
    bool success = false;

    string movieID = Request["id"];
    if (movieID == null)
    {
        Validation.AddFormError("No movie id was received."); 
    }

    if (Validation.IsValid())
    {
        Database db = Database.Open(dbname);
        movieTitle = db.QueryValue("SELECT title FROM Movies WHERE id = @0", movieID);
        if (movieTitle != null)
        {
            movieExists = true;
            if (IsPost)
            {
                string deleteFromMovies = "DELETE From Movies WHERE id = @0";
                string getCoverPath = "SELECT cover FROM Movie_Static_Info WHERE movieID = @0";
                string cover = db.QueryValue(getCoverPath, movieID);
                string coverAbsolutePath = Server.MapPath(cover);
                File.Delete(coverAbsolutePath);
                db.Execute(deleteFromMovies, movieID);
                success = true; 
            }
        }
        else {
            Validation.AddFormError("Could not find a movie with that id. Try again."); 
        }
    }
}

<div>
    <h1>Delete A Movie</h1>
    @if (success)
    { 
        <p>Movie deleted successfully.</p>
        return;
    }

    @if (!Validation.IsValid())
    {
        @Html.ValidationSummary("Fix errors:");
        <p><a href="~/admin/searchmovies">Return to Search Console</a>.</p>
    }
    else {
        if (movieExists)
        {
             <form method="post" action="~/admin/deletemovie">
                 Are you sure you want to delete: @movieTitle? 
                 <input type="submit" value="Yes" />
                 <input type="hidden" value="@movieID" name="id" />
             </form>
            <p>
                No? <a href="~/admin/index3">Return to console</a>.
            </p>
        }
    }
</div>