﻿@{
    Page.Title = "Admin Console";
    Layout = "~/shared/layouts/_layout3.cshtml";
}

<div id="home">
    <h1>Admin Console</h1>

    <p>
        <a href="~/admin/addmovie">Add Movies.</a> <br />
        <a href="~/admin/searchmovies">Search Movies.</a> <br />
        <a href="~/admin/managecomplaint">Manage Complaints</a> <br />
    </p>
    
</div>