﻿@{
    Page.Title = "Manage Complaints";
    Layout = "~/shared/layouts/_layout3.cshtml";

    string dbname = App.DBname;
    Database db = Database.Open(dbname);
    var ignoreSuccess = false;
    var commentID="";
    
    

    var selectComments = "SELECT text,Comments.commentID,userID,movieID,numFlags FROM Comments JOIN Complaints ON Comments.commentID = Complaints.commentID";
    var comments = db.Query(selectComments);

    if(IsPost && Request.Form["ignore"]=="Ignore")
    {
        commentID = Request.Form["commentID"];
        var ignoreComment = db.QuerySingle("DELETE FROM Complaints WHERE commentID=@0",commentID);
        Response.Redirect("~/admin/managecomplaint");
    }
    else if(IsPost && Request.Form["warn"]=="Warn User")
    {   
        commentID = Request.Form["commentID"];
        var user = Request.Form["userID"];
        var checkUser = db.QuerySingle("SELECT * FROM Warnings WHERE userID=@0", user);
        if(checkUser == null)
        {
            var warnUser = db.Execute("INSERT INTO Warnings (userID, spammer_flag,suspected_spammer,comment_warning) VALUES (@0,@1,@2,@3)",user,0,0,1);
            var ignoreComment = db.QuerySingle("DELETE FROM Complaints WHERE commentID=@0",commentID);
        }
        else
        {
            var warnNum = (db.QueryValue("SELECT comment_warning FROM Warnings WHERE userID=@0",user)) + 1;
            
            if(warnNum == 2)
            {
                warnNum =0;
                var susSpammer = (db.QueryValue("SELECT suspected_spammer FROM Warnings WHERE userID=@0",user))+1;
                var warnUser = db.Execute("UPDATE Warnings SET comment_warning=@0,suspected_spammer=@1  WHERE userID=@2", warnNum,susSpammer,user); 

            }
            else{
                var warnUser = db.Execute("UPDATE Warnings SET comment_warning=@0 WHERE userID=@1", warnNum,user); 
                } 
            var ignoreComment = db.QuerySingle("DELETE FROM Complaints WHERE commentID=@0",commentID);          
        }

        Response.Redirect("~/admin/managecomplaint");
    }

    else if(IsPost && Request.Form["delete"]=="Delete Comment")
    {
        commentID = Request.Form["commentID"];
        var deleteComment = db.QuerySingle("DELETE FROM Complaints WHERE commentID=@0",commentID);
        var deleteComment2 = db.QuerySingle("DELETE FROM Comments WHERE commentID=@0",commentID);
        Response.Redirect("~/admin/managecomplaint");
    }

}


<h1>Manage Complaints</h1>
<div class="load_comments">
            
            <table>
                
                @foreach (var tuple in comments)
                {
                    var comment = tuple["text"];
                    var userID = tuple["userID"];
                    var commentid = tuple["commentID"];
                    var user = db.QueryValue("SELECT Email FROM UserProfile WHERE userID=@0",userID);
                    <tr>
                    <td>
                            <p><u><b>@user said:</b></u>
                            
                            <p>@comment</p>
                        <div id="admin_options">
                        <form action="" method="post">
                        <input type="submit" name="ignore" value="Ignore">
                        <input type="submit" name="warn" value="Warn User">
                        <input type="submit" name="delete" value="Delete Comment">
                        <input type="hidden" name="commentID" value= @commentid>
                        <input type="hidden" name="userID" value= @userID>
                        </form>
                    </div>
                    </td>
                    
                    </tr>
                    
                }
                
            </table>
            
        </div>     