﻿@{
    Page.Title = "Search Movies";
    Layout = "~/shared/layouts/_layout3.cshtml";
    
    IEnumerable<dynamic> searchResults = null;
    
    bool resultsFound = false;
    string title = "";
    if (IsPost) 
    {
        string dbname = App.dbname;
        Database db = Database.Open(dbname);
        Validation.Add("title", Validator.Required("You must enter a movie title."));
        if (Validation.IsValid())
        { 
            title = Request.Form["title"].Trim();
            string movieSearchQuery = "SELECT id, title, year FROM Movies WHERE title LIKE @0";
            searchResults = db.Query(movieSearchQuery, "%" + title + "%");

            if (searchResults.Count() != 0)
            {
                resultsFound = true; 
            }
        }
        
    }//end postback processing  
}

<div>
    <h1>Search Movie Databasse</h1>
    
    @if (IsPost && !Validation.IsValid()) { @Html.ValidationSummary("Please fix the following errors:");}
    <form method="post" action="~/admin/searchmovies">
        <table>
            <tr>
                <td class="formlabel">Movie Title:</td>
                <td class="forminput"><input type="search" size="30" name="title" required /></td>
                <td class="formsubmit"><input type="submit" value="Search" /></td>
            </tr>
        </table>
    </form>

    @if (IsPost && Validation.IsValid()) 
    {
        if (resultsFound)
        {
            <h3>Results</h3>
            <table>
                <tr>
                    <th>&nbsp</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>&nbsp</th>
                </tr>
                @foreach(dynamic movie in searchResults)
                {
                    <tr>
                        <td><a href="~/admin/editmovie?id=@movie.id">Edit</a> |</td>
                        <td>@movie.title</td>
                        <td>| @movie.year</td>
                        <td>| <a href="~/admin/deletemovie?id=@movie.id" >Delete</a></td>
                    </tr>
                }
            </table>
        }
        else { 
            <p>No results found for search term "@title".</p>
        }
    }
</div>