﻿@{
    
}


<h3>Browse Categories</h3>
<ul class="link_style">
    <li><a href="~/category?category=Action">Action</a></li>
    <li><a href="~/category?category=Adventure">Adventure</a></li>
    <li><a href="~/category?category=Anime">Anime</a></li>
    <li><a href="~/category?category=Comedy">Comedy</a></li>
    <li><a href="~/category?category=Documentary">Documentary</a></li>
    <li><a href="~/category?category=Drama">Drama</a></li>
    <li><a href="~/category?category=Family">Family</a></li>
    <li><a href="~/category?category=Fantasy">Fantasy</a></li>
    <li><a href="~/category?category=Horror">Horror</a></li>
    <li><a href="~/category?category=Musical">Musical</a></li>
    <li><a href="~/category?category=Mystery">Mystery</a></li>
    <li><a href="~/category?category=Romance">Romance</a></li>
    <li><a href="~/category?category=Scifi">Sci-Fi</a></li>
    <li><a href="~/category?category=Thriller">Thriller</a></li>
    <li><a href="~/category?category=Western">Western</a></li>
</ul>
