﻿@{
    string dbname = App.DBname;
    Database db = Database.Open(dbname);

    var cart_cnt = db.QueryValue("SELECT count(*) FROM Wishlist WHERE userID =@0",WebSecurity.CurrentUserId);
}

<a href="~/user/viewcart.cshtml">Cart(@cart_cnt)</a> |<a href="~/user/profile.cshtml">Profile</a> |<a href="~/user/friends.cshtml">Friends</a>| <a href="~/logout.cshtml">Logout</a>