﻿@{
    Page.Title = "Accept Request";
    Layout = "~/shared/layouts/_layout2.cshtml";

    string dbname = App.DBname;
    string fuID = Request["id"];
    var userID = WebSecurity.CurrentUserId;
    string response = Request["accept"];
    bool success = false;

    if (fuID == null)
    {
        Validation.AddFormError("No friend id was received.");
    }

    if(Validation.IsValid())
    {
        Database db = Database.Open(dbname);
        if (db.QueryValue("SELECT userID1 FROM Friends WHERE userID1 = @0 AND userID2 = @1",userID,fuID)!=null && db.QueryValue("SELECT userID1 FROM Friends WHERE userID1 = @0 AND userID2 = @1",fuID,userID)!=null)
        {
        if (response == "true")
        {
            db.Execute("UPDATE Friends SET is_Validated = 1 WHERE userID1 = @0 AND userID2 = @1",userID,fuID);
            success = true;
        }
        else
        {
            db.Execute("DELETE FROM Friends WHERE userID1 = @0 AND userID2 = @1",fuID,userID);
            db.Execute("DELETE FROM Friends WHERE userID1 = @0 AND userID2 = @1",userID,fuID);
            success = true;
        }
        }
    }
}

@{
<div>
    <h3>Add Friend</h3>
    <table>
        @if (success){
        if(response == "true")
        {
            <tr>
                <td>Friend Successfully Added</td>
            </tr>
        }
        else
        {
            <tr>
                <td>Friend Request Denied</td>
            </tr>
        }
        }
        <tr>
            <td><a href="~/user/friends">Back to Friends</a></td>
        </tr>
    </table>
</div>
}
