﻿@{
    Page.Title = "Add Movie To Cart";
    Layout = "~/shared/layouts/_layout2.cshtml";

    string dbname = App.DBname;
    var movieTitle = "";
    bool movieExists = false;
    bool success = false;
    var movieID = Request["id"];

    if (movieID != null)
    {
        Database db = Database.Open(dbname);
        movieTitle = db.QueryValue("SELECT title FROM Movies WHERE id= @0", movieID);

        if (movieTitle != null)
        {
            movieExists = true;

            if (IsPost)
            { 
                try{

                    db.Execute("INSERT INTO Wishlist VALUES(@0, @1)", WebSecurity.CurrentUserId, movieID);
                    success = true;
                }
                catch(Exception e) {
                    success = false;
                    Validation.AddFormError("This movie is already in your cart."); 
                }
                    
            }//end postback processing
        }
        else {
            Validation.AddFormError("No movied with ID: " + movieID); 
        }
    }
    else {
        Validation.AddFormError("No movie ID was supplied.");
    }
    
   
}

<h1>Add movie to your cart</h1>

@if (!Validation.IsValid())
{
    @Html.ValidationSummary("Oops! Errors:") 
}

@if (success)
{
    <p>
        "@movieTitle" was successfully added to your cart.
        <br />
        Return <a href="~/user/index2">Home</a>.
    </p> 
}

@if (movieExists && !success)
{
     <form action="~/user/addtocart" method="post">
         Confirm adding @movieTitle to your cart.
         <input type="submit" value="Confirm!" />
         <input type="hidden" name="id" value="@Request["id"]" />
     </form>
    
    <p>
        Cancel and return <a href="~/user/index2">Home</a>.
    </p>
}