﻿@{
    Page.Title = "Edit Billing Info";
    Layout = "~/shared/layouts/_layout2.cshtml";

    int userID = WebSecurity.CurrentUserId;
    DateTime minimumExpirationDate = DateTime.Today;
    bool userHasBillingInfo = false;
    bool billingInfoUpdated = false;

    // new data to be stored in db
    string ccnumber = "";
    string provider = "";
    string expiration_date = "";
    string verification = "";

    // data currently on file
    string old_ccnumber = "";
    string old_provider = "";
    string old_expiration_date = "";
    string old_verification = "";
    
    //check if user already has billing info in the DB
    string dbname = App.DBname;
    Database db = Database.Open(dbname);
    string queryForExistingBillingInfo = "SELECT * FROM Billing_Info WHERE userID = @0";
    var queryResult = db.QuerySingle(queryForExistingBillingInfo, userID);
    if (queryResult != null)
    {
        userHasBillingInfo = true;
        old_ccnumber = queryResult.ccnumber;
        old_provider = queryResult.provider;
        old_expiration_date = queryResult.expiration_date.ToShortDateString();
        old_verification = queryResult.verification;
    }
    
    //postback processing
    if (IsPost)
    {
        ccnumber = Request.Form["ccnumber"];
        provider = Request.Form["provider"];
        expiration_date = Request.Form["expiration_date"];
        verification = Request.Form["verification"];
        
        // input validation
        if (!ccnumber.Is<long>())
        {
            Validation.AddFormError("You must enter a valide credit card number."); 
        }
        Validation.Add("ccnumber", Validator.StringLength(16, 16, "Credit card number must be 16 digits long."));
        Validation.Add("verification", Validator.Integer("You must enter a valid card verification code."));
        Validation.Add("verification", Validator.StringLength(3, 3, "Car verification code must be 3 digits long."));
        DateTime temp;
        if (DateTime.TryParse(expiration_date, out temp))
        {
            if (temp < minimumExpirationDate)
            {
                Validation.AddFormError("This Card has expired.");
            }
            else { expiration_date = DateTime.Parse(expiration_date).ToShortDateString(); }
        }
        else { Validation.AddFormError("You must enter an expiration date."); }

        // update db if validation successful
        if (Validation.IsValid())
        {
            if (userHasBillingInfo)
            {
                string updateBillingInfo = "UPDATE Billing_Info SET ccnumber = @0, provider = @1, " +
                    " expiration_date = @2, verification = @3 WHERE userID = @4";
                db.Execute(updateBillingInfo, ccnumber, provider, expiration_date, verification, userID);
                billingInfoUpdated = true;
                userHasBillingInfo = true;
            }
            else {
                string addBillingInfo = "INSERT INTO Billing_Info (userID, ccnumber, provider,"
                    + " expiration_date, verification) VALUES (@0, @1, @2, @3, @4)";
                db.Execute(addBillingInfo, userID, ccnumber, provider, expiration_date, verification); 
                billingInfoUpdated = true;
                userHasBillingInfo = true;
            }

            if (billingInfoUpdated)
            {
                old_ccnumber = ccnumber;
                old_provider = provider;
                old_expiration_date = expiration_date; 
            }
        }
    }//end postback processing
    
}

<div>
    <h1>Update Billing Information</h1>

    @if(billingInfoUpdated)
    {
        <p>Successfully updated your billing information.</p>
    }

    @if (userHasBillingInfo)
    {
        <p>
            <h3>Current info on file</h3>
            Credit Card: **** - **** - **** - @old_ccnumber.Substring(12). <br />
            Provider: @old_provider. <br />
            Expiration Date: @old_expiration_date. <br />
        </p> 
    }

    @if (!Validation.IsValid())
    {
        @Html.ValidationSummary("Failed to update your billing information. Fix the following errors:"); 
    }

    <form action="~/user/billing" method="post">
        <table>
            <tr>
                <td class="formlabel">Card Number: </td>
                <td class="forminput"><input type="text" maxlength="16" size="16" name="ccnumber" /></td>
            </tr>
            <tr>
                <td class="formlabel">Provider: </td>
                <td class="forminput">
                    <select name="provider">
                        <option value="mastercard">Mastercard</option>
                        <option value="visa">Visa</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="formlabel">Expiration Date: </td>
                <td class="forminput"><input type="date" name="expiration_date" /></td>
            </tr>
            <tr>
                <td class="formlabel">Card Verification Code: </td>
                <td class="forminput"><input type="text" maxlength="3" name="verification" /></td>
            </tr>
            <tr>
                <td class="formsubmit" colspan="2"><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>