﻿@{
    Page.Title = "Category";
    Layout = "~/shared/layouts/_layout2.cshtml";

    string dbname = App.DBname;
    Database db = Database.Open(dbname);
    var category = Request["category"];
    bool moviesFound = false;
    IEnumerable<dynamic> movies = null; // save movies here

    if (category != null)
    {
        var movie_query = "SELECT Movies.id, Movies.title FROM Movies INNER JOIN Movie_Static_Info " +
            " ON Movies.id = Movie_Static_Info.movieID " +
            " WHERE (Movie_Static_Info.genre1 = @0) OR " +
            " (Movie_Static_Info.genre2 = @0) OR" +
            " (Movie_Static_Info.genre3 = @0)";
        movies = db.Query(movie_query, category);
        if (movies.Count<dynamic>() > 0)
        {
            moviesFound = true;
        }
        else {
            Validation.AddFormError("No movies found in genre " + category);   
        }  
    }
    else {
        Validation.AddFormError("No category info was received");
    }
}

<h1>Genre: @Request["category"]</h1>

@if (moviesFound & Validation.IsValid())
{
    
    int i = 0;
    <table>
        @foreach (var movie in movies)
        {
            var title = movie["title"];
            var id = movie["id"];
            <tr>
                <td><a href="~/user/moviedetails2?id=@id">@title</a></td>
            </tr>
        }
        </table>
}
else{
    @Html.ValidationSummary("Errors found: ")
}