﻿@{
    Page.Title = "Movie Details";
    Layout = "~/shared/layouts/_layout2.cshtml";

    string dbname = App.DBname;
    Database db = Database.Open(dbname);
    bool movieExists = false;
    bool emptyWishList = true;
    var success = false;

    var wishList_query = "SELECT Wishlist.movieID, Movies.title " +
        " FROM (Wishlist INNER JOIN Movies ON Movies.id = Wishlist.movieID) " +
        " WHERE Wishlist.userID = @0";
    var wishList = db.Query(wishList_query, WebSecurity.CurrentUserId);
    if (wishList.Count<dynamic>() > 0)
    {
        emptyWishList = false;
    }

    if(IsPost)
    {
        string ccnumber = Request["ccnumber"];
        foreach(var row in wishList)
        {
            var movieid = row["movieID"];
            db.Execute("INSERT INTO Transactions (t_date,userID,movieID) VALUES(@0,@1,@2)",System.DateTime.Now,WebSecurity.CurrentUserId,movieid);
        }

        db.Execute("DELETE FROM Wishlist WHERE userID =@0",WebSecurity.CurrentUserId);
        if(ccnumber!="")
        {
            success = true;
        }
    }
       
}

<h1>Checkout</h1>

@if(success)
{
    <p>Thank you for your purchase!!</p>
    <a href="~/user/index2">Return home</a>
}

else
{
    <form action="~/user/checkout" method="post">
      
    <table>
        @foreach(var row in wishList)
        {
            var movieID = row["movieID"];
            var movieTitle = row["title"];
            <tr>
                <td><a href="~/user/moviedetails2?id=@movieID">@movieTitle</a></td>
               
            </tr>
        }
    </table><br />
        <table>
            <tr>
                <td class="formlabel">Card Number: </td>
                <td class="forminput"><input type="text" maxlength="16" size="16" name="ccnumber" required="required" /></td>
            </tr>
            <tr>
                <td class="formlabel">Provider: </td>
                <td class="forminput">
                    <select name="provider">
                        <option value="mastercard">Mastercard</option>
                        <option value="visa">Visa</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="formlabel">Expiration Date: </td>
                <td class="forminput"><input type="date" name="expiration_date" required="required"/></td>
            </tr>
            <tr>
                <td class="formlabel">Card Verification Code: </td>
                <td class="forminput"><input type="text" maxlength="3" name="verification" required="required"/></td>
            </tr>
        </table>
        <input type="submit" name="Purchase" value="Confirm Purchases">
        </form>
}

