﻿@{
    Layout = "~/shared/layouts/_layout2.cshtml";
    Page.title = "Comments";

   
    string dbname = App.DBname;
    Database db = Database.Open(dbname);
    var movieID = Request["id"];
    var comment ="".Trim();
    var userID= WebSecurity.CurrentUserId;
    DateTime timestamp;
    var movieExists= false;
    dynamic basicMovieInfo = null;
    var success = false;
    dynamic unique_check="";
    var commentExists = false;
    var comment_check="";

    if (movieID != null)
    {
        basicMovieInfo = db.QuerySingle("SELECT * FROM Movies WHERE id = @0", movieID);
        
        if (basicMovieInfo != null)
        {
            movieExists = true;
            unique_check = db.QuerySingle("SELECT userID,movieID FROM Comments WHERE userID = @0 AND movieID = @1",userID,movieID);
            if(unique_check != null)
            {
                commentExists = true;
            }
        }
        else
        {
            Validation.AddFormError("No movie with ID " + movieID + " was found.");
        }  
    }
    else {
        Validation.AddFormError("No movie ID was received."); 
    }
        if(IsPost)
    {
        comment = Request.Form["synopsis"];
        movieID = Request.Form["movieID"];
        comment_check = Request.Form["comment_check"];
        if(comment_check == "true")
        {
            
                string updateComment = "UPDATE Comments SET text= @0 WHERE userID= @1 AND movieID = @2";
                db.Execute(updateComment, comment, userID, movieID);
        }
        else{
            timestamp = System.DateTime.Now;
            string addComment = "INSERT INTO Comments (userID, movieID, text,"
                        + " timestamp) VALUES (@0, @1, @2, @3)";
                    db.Execute(addComment, userID, movieID, comment, timestamp); 
            
            }
        success = true;
    }
}
<h1>Add Comment</h1>
@if(success)
{
    <div class="link_style2">
    <p>The Comment has succesfully been added</p>
    <a href="~/user/moviedetails2?id=@movieID">Back to movie</a>
    </div>
}
@if (!success && !Validation.IsValid())
{
    <text>
        @Html.ValidationSummary("Errors Found!")
        <p>Return to <a href="~/index">Home</a></p>
    </text>
}

@if(movieExists && commentExists)
{   
        <h1 style="color: #f00">Warning: You already submitted a comment, adding another one will overwrite your previous one</h1>
        <div class="movie_comments">
        <form action="~/user/comments" method="post">
          
        <textarea rows="5" cols="40" maxlength="500" name="synopsis" ></textarea>
            <input type="submit" style ="float: left;" name="Add_Comment" value="Add Comment">
            <input type="hidden" value=@movieID name="movieID">
            <input type="hidden" value="true" name="comment_check">
        </form>
        </div> 
}

@if(movieExists && !commentExists )
{
    <div class="movie_comments">
        <form action="~/user/comments" method="post">
       
        <textarea rows="5" cols="40" maxlength="500" name="synopsis" ></textarea>
            <input type="submit" style ="float: left;" name="Add_Comment" value="Add Comment">
            <input type="hidden" value=@movieID name="movieID">
            <input type="hidden" value="false" name="comment_check">
        </form>
        </div> 
}


