﻿@{
    Page.Title = "complaints";
    Layout = "~/shared/layouts/_layout2.cshtml";

    string dbname = App.DBname;
    Database db = Database.Open(dbname);
    
    var commentID = Request["id"];
    var selectComment = "SELECT text FROM Comments WHERE commentID ="+commentID;
    var selectMovieID = "SELECT movieID FROM Comments WHERE commentID ="+commentID;
    var selectFlag = "SELECT numFlags FROM Complaints WHERE commentID ="+commentID;
    var comment = db.QueryValue(selectComment);
    var success = false;
    var movieID = db.QueryValue(selectMovieID);
    var numFlags = db.QueryValue(selectFlag);
   

    if(IsPost && numFlags == null)
    {
        numFlags = 1;
        string addComplaint = "INSERT INTO Complaints (commentID, numFlags) VALUES (@0, @1)";
                    db.Execute(addComplaint, commentID, numFlags);
                    success = true;
    }
     else if(IsPost && numFlags != null)
    {

        numFlags += 1;
        string updateComplaint = "UPDATE Complaints SET numFlags= @0 WHERE commentID= @1";
                    db.Execute(updateComplaint, numFlags, commentID); 
                    success = true;
    }


}

<h1>Flag comment</h1>



@if(success == true)
{
    <p>The comment has been flagged.</p>
           <a href="~/user/moviedetails2?id=@movieID">Back to movie</a>    
}

@if(!success)
{
    <div id="complaint_comment">
    <p><u><b>@WebSecurity.CurrentUserName said:</b></u></p>
    @comment
    </div>
    <form action="complaints?id=@commentID" method="post">

 
        <input type="submit" name="flag" value="Flag post as inappropriate">

    </form>
}
