﻿@{
    Page.Title = "Fill Out Profile";
    Layout = "~/shared/layouts/_layout2.cshtml";

    var email = WebSecurity.CurrentUserName;
    var userID = WebSecurity.CurrentUserId;
    var profileDataExists = false;
    var first_name = "";
    var last_name = "";
    var dob_str = "";
    var gender = "";
    var address = "";
    var favorite_genre1 = "";
    var favorite_genre2 = "";
    var favorite_genre3 = "";
    var dob = "";

    string dbname = App.DBname;
    var db = Database.Open(dbname);
    var checkForUserProfile = "SELECT UserID FROM UserInfo WHERE UserID = " + userID;
    if (null != db.QueryValue(checkForUserProfile)) 
    {
        profileDataExists = true;
        var getUserInfoCommand = "SELECT * FROM UserInfo WHERE userID = " + WebSecurity.CurrentUserId;
        var userProfileData = db.QuerySingle(getUserInfoCommand);
        first_name = userProfileData.first_name;
        last_name = userProfileData.last_name;
        dob = userProfileData.dob.ToShortDateString();
        gender = userProfileData.gender;
        address = userProfileData.address;
        favorite_genre1 = userProfileData.favorite_genre1;
        favorite_genre2 = userProfileData.favorite_genre2;
        favorite_genre3 = userProfileData.favorite_genre3; 
    }
    
    if (IsPost)
    {
        first_name = Request.Form["first_name"];
        last_name = Request.Form["last_name"];
        dob_str = Request.Form["dob"];
        if (dob_str.IsDateTime()) 
        {
            dob = DateTime.Parse(dob_str).ToShortDateString();
        }
        gender = Request.Form["gender"];
        address = Request.Form["address"];
        favorite_genre1 = Request.Form["favorite_genre1"];
        favorite_genre2 = Request.Form["favorite_genre2"];
        favorite_genre3 = Request.Form["favorite_genre3"];
        
        // validation
        if (favorite_genre1 == favorite_genre2 || favorite_genre1 == favorite_genre3 ||
            favorite_genre2 == favorite_genre3)
        {
            ModelState.AddFormError("You must select 3 different favorite categories");
        }
        
        if (Validation.IsValid())
        {
            if (profileDataExists)
            {
                var updateCommand = "UPDATE UserInfo " +
                    "SET first_name = @0, last_name = @1, dob = @2, gender = @3, address = @4, " +
                    "favorite_genre1 = @5, favorite_genre2 = @6, favorite_genre3 = @7 " +
                    "WHERE userID = " + userID;
                db.Execute(updateCommand, first_name, last_name, dob, gender, address,
                    favorite_genre1, favorite_genre2, favorite_genre3);
            }
            else 
            {
                var insertCommand = "INSERT INTO UserInfo" +
                    "(userID , first_name, last_name, dob, gender, address, " +
                    "favorite_genre1, favorite_genre2, favorite_genre3) " +
                     "VALUES(@0, @1, @2, @3, @4, @5, @6, @7, @8)";
                db.Execute(insertCommand, userID, first_name, last_name, dob, gender, address,
                    favorite_genre1, favorite_genre2, favorite_genre3);
            }
        }  
    }//end if isPost
}

<div>
    <h1> Edit Profile</h1>

    @if (IsPost && !Validation.IsValid())
    {
        @Html.ValidationSummary("Unable to update your information. Fix the following errors: "); 
    }
    else if (IsPost && Validation.IsValid())
    {
        <p>Successfully updated your information.</p> <br /> 
    }

    <form action="~/user/editprofile.cshtml" method="post">
        <table>
            <tr>
                <td class="formlabel">First Name:</td>
                <td class="forminput"><input type="text" name="first_name" value="@first_name" required="required" /></td>
            </tr>
            <tr>
                <td class="formlabel">Last Name:</td>
                <td class="forminput"><input type="text" name="last_name" value="@last_name" required="required" /></td>
            </tr>
            <tr>
                <td class="formlabel">Date of Birth:</td>
                <td class="forminput"><input type="date" name="dob" value="@dob_str" required="required" /></td>
            </tr>
            <tr>
                <td class="formlabel">Gender</td>
                <td class="forminput">
                    <select name="gender" required="required">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="formlabel">Address:</td>
                <td class="forminput"><input type="text" name="address" value="@address" size="50" /></td>
            </tr>
            <tr>
                <td class="formlabel">Favorite Genre 1:</td>
                <td class="forminput">
                    <select name="favorite_genre1" required="required">
                        <option value="action">Action</option>
                        <option value="adventure">Adventure</option>
                        <option value="anime">Anime</option>
                        <option value="comedy">Comedy</option>
                        <option value="documentary">Documentary</option>
                        <option value="drama">Drama</option>
                        <option value="family">Family</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="horror">Horror</option>
                        <option value="musical">Musical</option>
                        <option value="mystery">Mystery</option>
                        <option value="romance">Romance</option>
                        <option value="scifi">Sci-Fi</option>
                        <option value="thriller">Thriller</option>
                        <option value="western">Western</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="formlabel">Favorite Genre 2:</td>
                <td class="forminput">
                    <select name="favorite_genre2">
                        <option value="action">Action</option>
                        <option value="adventure">Adventure</option>
                        <option value="anime">Anime</option>
                        <option value="comedy">Comedy</option>
                        <option value="documentary">Documentary</option>
                        <option value="drama">Drama</option>
                        <option value="family">Family</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="horror">Horror</option>
                        <option value="musical">Musical</option>
                        <option value="mystery">Mystery</option>
                        <option value="romance">Romance</option>
                        <option value="scifi">Sci-Fi</option>
                        <option value="thriller">Thriller</option>
                        <option value="western">Western</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="formlabel">Favorite Genre 3:</td>
                <td class="forminput">
                    <select name="favorite_genre3">
                        <option value="action">Action</option>
                        <option value="adventure">Adventure</option>
                        <option value="anime">Anime</option>
                        <option value="comedy">Comedy</option>
                        <option value="documentary">Documentary</option>
                        <option value="drama">Drama</option>
                        <option value="family">Family</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="horror">Horror</option>
                        <option value="musical">Musical</option>
                        <option value="mystery">Mystery</option>
                        <option value="romance">Romance</option>
                        <option value="scifi">Sci-Fi</option>
                        <option value="thriller">Thriller</option>
                        <option value="western">Western</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="formsubmit"><input type="submit" value="Submit Changes"/></td>
            </tr>
        </table>
    </form>
</div>