﻿@{
    Page.Title = "Friends";
    Layout = "~/shared/layouts/_layout2.cshtml";

    string dbname = App.DBname;
    Database db = Database.Open(dbname);
    var userID = WebSecurity.CurrentUserId;
    int friendID = 0;
    var getFriends = "SELECT * FROM friends WHERE userID1 = " + userID;
    var friends = db.Query(getFriends);
    var friendsFound = false;
    if (friends.Count()>0)
    {
        friendsFound = true;
    }
    var addFriend = false;
    var addSuccess = false;

    if (IsPost)
    {
        addFriend = true;
        var fEmail = Request.Form["email"];
        if (db.Query("SELECT UserID FROM UserProfile WHERE Email = @0", fEmail).Count()>0)
        {
            friendID = db.QueryValue("SELECT UserID FROM UserProfile WHERE Email = @0", fEmail);
            var tryInsert = db.QueryValue("SELECT userID1, userID2 FROM Friends WHERE userID1 = @0 AND userID2 = @1",userID,friendID);
            if (null==tryInsert && userID != friendID)
            {
                db.Execute("INSERT INTO Friends(userID1, userID2, is_Validated) VALUES(@0,@1,@2)",userID,friendID,1);
                db.Execute("INSERT INTO Friends(userID1, userID2, is_Validated) VALUES(@0,@1,@2)",friendID,userID,0);                
            }
            addSuccess = true;
        }
    }
    var friendRequestID = db.Query("SELECT userID2 FROM Friends WHERE userID1 = @0 AND is_Validated = 0", userID);
    var pendingResponse = db.Query("SELECT userID1 FROM Friends WHERE userID2 = @0 AND is_Validated = 0", userID);
}

<h1>Friends</h1>
@{
    <h3>Friends List</h3>
    <table>
        @{
        if (friendsFound)
        {
            foreach (var tuple in friends)
            {
                var fuID = tuple["userID2"];
                var isValidated1 = tuple["is_Validated"];
                var isValidated2 = db.QueryValue("SELECT is_Validated FROM Friends WHERE userID1 = @0 AND userID2 = @1",fuID,userID);
                if (isValidated1 && isValidated2)
                {
                    var fuName = db.QueryValue("SELECT email FROM UserProfile WHERE UserID = @0", fuID);
                <tr>
                    <td>@fuName</td>
                    <td><a href="~/user/removefriend?id=@fuID"> Unfriend </a></td>
                </tr>
                }
            }
        }
        else
        {
            <tr>
                <td>You Have No Friends! :(</td>
            </tr>
        }
        } 
    </table>
<h3> Notifications </h3>
    <table>
    @foreach(var tuple in friendRequestID)
    {
        var fuID = tuple["userID2"];
        var fEmail = db.QueryValue("SELECT email From UserProfile WHERE UserID = @0", fuID);
        <tr><td>@fEmail wants to be your friend</td><td><a href="~/user/acceptfriend?accept=true&id=@fuID"> Accept</a></td><td><a href="~/user/acceptfriend?accept=false&id=@fuID">Decline</a></td></tr>
    }
    @foreach(var tuple in pendingResponse)
    {
        var fuID = tuple["userID1"];
        var fEmail = db.QueryValue("SELECT email From UserProfile WHERE UserID = @0", fuID);
        <tr><td>Pending friend request to @fEmail</td><td><a href="~/user/acceptfriend?accept=false&id=@fuID">Cancel</a></td></tr>
    }
    </table>
<h3> Recommendations </h3>
    var recommendations = db.Query("SELECT movieID, userID1 FROM Recommendations WHERE userID2 = @0",userID);
    <table>
    @foreach(var tuple in recommendations)
    {
        var fuID = tuple["userID1"];
        var movieID = tuple["movieID"];
        var fEmail = db.QueryValue("SELECT email From UserProfile WHERE UserID = @0", fuID);
        var movieTitle = db.QueryValue("SELECT title From Movies WHERE id = @0", movieID);
        <tr><td>@fEmail suggests watching <a href="~/user/moviedetails2?id=@movieID">@movieTitle</a></td></tr>
    }
    </table>
<h3> Add Friends</h3>
    <table>
        <tr>
            <td>
                <form action="~/user/friends" method="post" enctype="multipart/form-data">
                    <table>
                        @if(addFriend){
                            if(addSuccess)
                            {
                                if(userID!=friendID)
                                {
                                <tr>
                                    <td>Friend request sent</td>
                                </tr>
                                }
                                else
                                {
                                <tr>
                                    <td>You can't add yourself</td>
                                </tr>
                                }
                                <tr>
                                    <td><a href="~/user/friends">add another</a></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>Email not found</td>
                                </tr>
                                <tr>
                                    <td><a href="~/user/friends">Try Again</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="formlabel">Email: </td>
                                <td class="forminput"><input type="text" name="email"/></td>
                                <td class="formsubmit" colspan="1"><input type="submit" value="Add Friend" /></td>
                            </tr>
                        }
                    </table>
                </form>
            </td>
        </tr>
    </table>
}
