﻿@{
    Page.title = "Profile";
    Layout = "~/shared/layouts/_layout2.cshtml";

    var first_name = "";
    var last_name = "";
    var dob = "";
    var gender = "";
    var address = "";
    var favorite_genre1 = "";
    var favorite_genre2 = "";
    var favorite_genre3 = "";

    var userHasDetailedProfile = false;
    string dbname = App.DBname;
    var db = Database.Open(dbname);
    var checkForUserProfile = "SELECT UserID FROM UserInfo WHERE UserID = " + WebSecurity.CurrentUserId;
    if (null != db.QueryValue(checkForUserProfile))
    {
        userHasDetailedProfile = true;
        var getUserInfoCommand = "SELECT * FROM UserInfo WHERE userID = " + WebSecurity.CurrentUserId;
        var userProfileData = db.QuerySingle(getUserInfoCommand);
        first_name = userProfileData.first_name;
        last_name = userProfileData.last_name;
        dob = userProfileData.dob.ToShortDateString();
        gender = userProfileData.gender;
        address = userProfileData.address;
        favorite_genre1 = userProfileData.favorite_genre1;
        favorite_genre2 = userProfileData.favorite_genre2;
        favorite_genre3 = userProfileData.favorite_genre3;  
    }
}


<h1>Profile Info</h1>
<p>
    Email: @WebSecurity.CurrentUserName <br />
    @if (userHasDetailedProfile)
    {
        <text>
            First Name: @first_name. <br />
            Last Name: @last_name. <br />
            Date of Birth: @dob. <br />
            Gender: @if(@gender == "M"){@Html.Raw("Male.")} else{@Html.Raw("Female")} <br />
            Address: @address. <br />
            Favorite Genres: @favorite_genre1, @favorite_genre2, @favorite_genre3.
        </text>  
    }
</p>
<p>
    <a href="changepassword">Change password</a>. <br />
    <a href="~/user/editprofile">Edit Profile</a>. <br />
    <a href="~/user/billing">Edit billing info</a> <br />
    <a href="~/user/viewcart">View Cart</a> <br />
    <a href="~/user/purchasehistory">Purchase History</a>
</p>
