﻿@{
    Layout = "~/shared/layouts/_layout2.cshtml";
    Page.title = "Comments";

    string dbname = App.DBname;
    Database db = Database.Open(dbname);

    var purchase_query = "SELECT title,movieID FROM Transactions JOIN Movies  ON Transactions.movieID =Movies.id WHERE userID=@0";
    var purchase = db.Query(purchase_query, WebSecurity.CurrentUserId);

}

<table>
        @foreach(var row in purchase)
        {
            var movieID = row["movieID"];
            var movieTitle = row["title"];
            <tr>
                <td><a href="~/user/moviedetails2?id=@movieID">@movieTitle</a></td>
               
            </tr>
        }
    </table>