﻿@{
    Page.Title = "Friends";
    Layout = "~/shared/layouts/_layout2.cshtml";

    string dbname = App.DBname;
    Database db = Database.Open(dbname);
    var userID = WebSecurity.CurrentUserId;
    var getFriends = "SELECT * FROM friends WHERE userID1 = " + userID;
    var friends = db.Query(getFriends);
    var friendsFound = false;
    if (friends.Count()>0)
    {
        friendsFound = true;
    }
    var movieID = Request["id"];
    var title = db.QueryValue("SELECT title FROM Movies WHERE id = @0",movieID);

    if (IsPost)
    {
        var fuID = Request["fuID"];
        if (db.QueryValue("SELECT * FROM Recommendations WHERE userID1 = @0 AND userID2 = @1",userID, fuID)==null)
        {
            db.Execute("INSERT INTO Recommendations(userID1, userID2, movieID) VALUES(@0, @1, @2)", userID, fuID, movieID);
        }
        else
        {
            db.Execute("UPDATE Recommendations SET movieID = @0 WHERE userID1 = @1 AND userID2 = @2",movieID,userID,fuID);
        }
    }
}

<h1>Recommend @title to a friend</h1>
@{
    <h3>Friends List</h3>
    <table>
        @{
        if (friendsFound)
        {
            foreach (var tuple in friends)
            {
                var fuID = tuple["userID2"];
                var isValidated1 = tuple["is_Validated"];
                var isValidated2 = db.QueryValue("SELECT is_Validated FROM Friends WHERE userID1 = @0 AND userID2 = @1",fuID,userID);
                if (isValidated1 && isValidated2)
                {
                    var fuName = db.QueryValue("SELECT email FROM UserProfile WHERE UserID = @0", fuID);
                    <tr>
                        <td>@fuName</td>
                        @if (db.QueryValue("SELECT userID1 FROM Recommendations WHERE userID1 = @0 AND userID2 = @1 AND movieID = @2",userID, fuID, movieID)==null
                            && db.QueryValue("SELECT t_id FROM Transactions WHERE userID = @0 AND movieID = @1",userID,movieID)==null)
                        {
                        <td>
                            <form method="post" action="~/user/recommendmovie?id=@movieID">
                            <input type="submit" value="Recommend" />
                            <input type="hidden" value="@fuID" name="fuID" />
                            </form>
                        </td>
                        }
                        @if (db.QueryValue("SELECT t_id FROM Transactions WHERE userID = @0 AND movieID = @1",fuID,movieID)!=null)
                        {
                        <td>
                            Has watched this movie already.
                        </td>
                        }
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td>You Have No Friends! :(</td>
            </tr>
        }
        } 
    </table>
}