﻿@{
    Page.Title = "Remove Friend";
    Layout = "~/shared/layouts/_layout2.cshtml";

    var userID = WebSecurity.CurrentUserId;
    string fuID = Request["id"];
    bool fExists = false;
    string dbname = App.DBname;
    Database db = Database.Open(dbname);
    string fuName = null;
    bool success = false; 

    if (fuID == null)
    {
        Validation.AddFormError("No friend id was received."); 
    }

    if (Validation.IsValid())
    {
        fuName = db.QueryValue("SELECT email FROM UserProfile WHERE UserID = @0", fuID);
        if (fuName != null)
        {
            fExists = true;
            if (IsPost)
            {
                db.Execute("DELETE FROM Friends WHERE userID1 = @0 AND userID2 = @1",fuID,userID);
                db.Execute("DELETE FROM Friends WHERE userID1 = @0 AND userID2 = @1",userID,fuID);
                db.Execute("DELETE FROM Recommendations WHERE userID1 = @0 AND userID2 = @1",userID,fuID);
                db.Execute("DELETE FROM Recommendations WHERE userID1 = @0 AND userID2 = @1",fuID,userID);
                
                success = true;
            }
        }
        else {
            Validation.AddFormError("User does not exist in your friends list"); 
        }
    }
}
<div>
    <h1>Remove a Friend</h1>
    @if (success)
    { 
        <p>Friend removed successfully.</p>
        <a href="~/user/friends">Return to Friends page</a>
        return;
    }

    @if (!Validation.IsValid())
    {
        @Html.ValidationSummary("Errors:");
        <p><a href="~/user/friends">Return to Friends page</a>.</p>
    }
    else {
        if (fExists)
        {
             <form method="post" action="~/user/removefriend">
                 Are you sure you want to remove: @fuName? 
                 <input type="submit" value="Yes" />
                 <input type="hidden" value="@fuID" name="id" />
             </form>
            <p>
                No? <a href="~/user/friends">Return to Friends page</a>.
            </p>
        }
    }
</div>
