﻿@{
    Page.Title = "Remove From Cart";
    Layout = "~/shared/layouts/_layout2.cshtml";

    string dbname = App.DBname;
    Database db = Database.Open(dbname);

    bool movieExists = false;
    bool success = false;

    var movieID = Request["id"];
    var movieTitle = "";
    if (movieID != null)
    {
        //check that movie exists
        var movie = db.QuerySingle("SELECT * FROM Wishlist WHERE userID = @0 AND movieID = @1",
            WebSecurity.CurrentUserId, movieID);
        if (movie != null)
        {
            movieExists = true;
            movieTitle = db.QueryValue("SELECT title FROM Movies WHERE id = @0", movieID);
            
            //delete movie
            if (IsPost)
            {
                try
                {
                    db.Execute("DELETE FROM Wishlist WHERE userID = @0 AND movieID = @1", 
                        WebSecurity.CurrentUserId, movieID);
                    success = true;
                }
                catch (Exception e)
                {
                    success = false;
                    Validation.AddFormError("Unknow Error: Failed to delete movie from your wishlist: " + e.Message);   
                }
            }
        }
        else {
            Validation.AddFormError("No movie was found with ID " + movieID + " ."); 
        }
    }
    else {
        Validation.AddFormError("No movie ID was received.");
    }
}

<h1>Remove From Cart</h1>

@if (success)
{
    <p>
        "@movieTitle" Was successfully removed from your cart. <br />
        Return <a href="~/user/index2">Home</a> or to your <a href="~/user/viewcart">Cart</a>.
    </p>
}
else {
    if (!movieExists)
    {
         @Html.ValidationSummary("Errors occured:")
    }
    else {
        <form action="~/user/removefromcart" method="post">
            Confirm removing "@movieTitle" from your Cart.
            <input type="submit" value="Confirm!" />
            <input type="hidden" value="@movieID" name="id" />
        </form> 
    }
}