﻿@{
    Page.Title = "Cart";
    Layout = "~/shared/layouts/_layout2.cshtml";

    bool emptyWishList = true;
    
    string dbname = App.DBname;
    Database db = Database.Open(dbname);

    
    var wishList_query = "SELECT Wishlist.movieID, Movies.title " +
        " FROM (Wishlist INNER JOIN Movies ON Movies.id = Wishlist.movieID) " +
        " WHERE Wishlist.userID = @0";
    var wishList = db.Query(wishList_query, WebSecurity.CurrentUserId);
    if (wishList.Count<dynamic>() > 0)
    {
        emptyWishList = false;
    }
}

<h1>Cart</h1>

@if (emptyWishList)
{
    <p>
        Your cart is empty. Nothing to display.
    </p> 
}
else{

    <form action="~/user/checkout" method="post">
        <input type="submit" name="Checkout" value="Proceed To Checkout">
    <table>
        @foreach(var row in wishList)
        {
            var movieID = row["movieID"];
            var movieTitle = row["title"];
            <tr>
                <td><a href="~/user/moviedetails2?id=@movieID">@movieTitle</a></td>
                <td> | <a href="~/user/removefromcart?id=@movieID">Remove</a></td>
            </tr>
        }
    </table>
        <input type="submit" name="Checkout" value="Proceed To Checkout">
        <input type="hidden" name="ccnumber" value="">
        </form>
}